<div class="container login addDog">
    <h1> Update your profile</h1>
      <form name="vm.editUserForm" ng-submit="vm.update()" method="put" novalidate>
        <div class="form-group">
        <label for="name">Username</label><br>
          <input class="form-control" type="text" name="username" ng-model="vm.user.username" placeholder="{{vm.username}}" required>
        </div>

        <div class="ng-message-error" ng-messages="vm.editUserForm.username.$error" ng-show="(vm.editUserForm.$submitted || vm.editUserForm.username.$touched)">
          <p ng-message="required">A username is required!</p>
        </div>

        <div class="form-group">
          <label for="location">Location</label><br>
          <input class="form-control" type="text" name="location" ng-model="vm.user.location" placeholder="eg: W4 2W4.." required>
        </div>

        <div class="ng-message-error" ng-messages="vm.editUserForm.location.$error" ng-show="(vm.editUserForm.$submitted || vm.editUserForm.location.$touched)">
          <p ng-message="required">A location is required!</p>
        </div>
        <div class="form-group">
          <label for="mobile">Mobile Number</label><br>
          <input class="form-control" type="text" name="mobile" ng-model="vm.user.mobile" placeholder="mobile.." required>
        </div>


        <div class="form-group">
          <label for="image">Image</label><br>
          <input class="form-control" type="text" name="image" ng-model="vm.user.image" placeholder="Image" required>
        </div>

        <div class="ng-message-error" ng-messages="vm.editUserForm.image.$error" ng-show="(vm.editUserForm.$submitted || vm.editUserForm.image.$touched)">
          <p ng-message="required">An image is required!</p>
        </div>

        <div class="form-group">
          <label for="name">Email</label><br>
          <input class="form-control" type="email" name="email" ng-model="vm.user.email" placeholder="eg: walk@mydog.com.." required>
        </div>

        <div class="ng-message-error" ng-messages="vm.editUserForm.email.$error" ng-show="(vm.editUserForm.$submitted || vm.editUserForm.email.$touched)">
          <p ng-message="required">An email address is required!</p>
        </div>

        <button type="button" name="back" class="btn btn-info" ui-sref="usersShow({ id: vm.user._id })">Back</button>

        <input class="btn btn-primary" type="submit" value="Update" />

      </form>
</div>
