<h2> edit user profile</h2>

<div class="showPage">
  <form ng-submit="vm.update()" method="put">
    <div class="form-group">
      <input class="form-control" type="text" name="username" ng-model="vm.user.username" placeholder="{{vm.username}}">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="image" ng-model="vm.user.image" placeholder="Image">
    </div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" ng-model="vm.user.email" placeholder="Email">
    </div>
    <button type="button" name="back" class="btn btn-info" ui-sref="usersShow({ id: vm.user._id })">Back</button>

    <input class="btn btn-primary" type="submit" value="Update" />

  </form>
</div>
