<div class="container">
  <div class="FormPage">
    <div class="userShowMain">
      <div class="row">
        <div class="col-md-6">
          <h1>Your profile</h1>
          <a ui-sref="#"><img ng-src="{{ vm.user.image }}"></a>
        </div>
        <div class="col-md-6 userInfoBlock">
          <div class="userShowInfo">
            <h2 class="heading">Name: {{ vm.user.username }}</h2>
              <p>Email: {{ vm.user.email }}</p>
              <p>Mobile: </p>
              <p>Postcode: </p>
            </div>
            <div class="userUpdateButtons">
              <button type="button" name="back" class="btn btn-warning" ui-sref="usersEdit({ id: main.user._id})">Edit</button>
              <button type="button" class="btn btn-danger" ng-click="vm.userOpenModal()">Delete</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h2>Your dogs</h2>
            <ul style="list-style:none" ng-repeat="dog in vm.user.dogs">
              <a><li>{{ dog.name }}</li></a>
              <a><img  ng-src="{{ dog.image }}" href=""></a>
              <button type="button" name="back" class="btn btn-warning" ui-sref="dogsEdit({ id: dog._id})">Edit</button>
            </ul>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
