<h1>Profile</h1>
<div class="media"  >
  <div class="media-left">
    <a ui-sref="#">
      <img class="media-object" ng-src="{{ vm.user.image }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Name:{{ vm.user.username }}</h4>
    <p>Email:{{ vm.user.email }}</p>
  </div>
</div>
<p>{{usersShow.user}}</p>
<button type="button" name="back" class="btn btn-warning" ui-sref="usersEdit({ id: main.user._id})">Edit</button>


<button type="button" class="btn btn-danger" ng-click="vm.open()">Delete</button>
