<h1>Profile</h1>
<div class="media"  >
  <div class="media-left">
    <a ui-sref="#">
      <img class="media-object" ng-src="{{ vm.user.image }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Name: {{ vm.user.username }}</h4>
    <p>Email: {{ vm.user.email }}</p>
  </div>
</div>

<button type="button" name="back" class="btn btn-warning" ui-sref="usersEdit({ id: main.user._id})">Edit</button>
<button type="button" class="btn btn-danger" ng-click="vm.userOpenModal()">Delete</button>

<h2>Dogs</h2>
<ul ng-repeat="dog in vm.user.dogs">
  <a><li>{{ dog.name }}</li></a>
  <a><img  ng-src="{{ dog.image }}" href=""></a>
  <button type="button" name="back" class="btn btn-warning" ui-sref="dogsEdit({ id: dog._id})">Edit</button>
  <button type="button" name="add" class="btn btn-warning" ui-sref="walksNew({ id: dog._id })">Add walk date</button>


</ul>
