
  <div class="dogbox">

    <div class="dog">
      <div class="dog-body">
        <div class="dog-tail">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dog-torso"></div>
      <div class="dog-head">
        <div class="dog-ears">
          <div class="dog-ear"></div>
          <div class="dog-ear"></div>
        </div>
        <div class="dog-eyes">
          <div class="dog-eye"></div>
          <div class="dog-eye"></div>
        </div>
        <div class="dog-muzzle">
          <div class="dog-tongue"></div>
        </div>
      </div>
    </div>
    <div class="ball" tabindex="0"></div>
    <img src="/images/long.png" class="longlogo">
  </div>

  <div class="doggo row">
    <div class="container">
      <h2>Testimonials</h2>
      <div class="col-md-4 review">
        <img src="/images/couple.png" alt="">
        <p> Paws and Play has given us the chance to meet new people and make new friends. Living in a small apartment means we aren’t able to have a dog of our own. Paws and Play lets us walk different dogs and making friends with their owners</p>
      </div>

      <div class="col-md-4 review">
        <img src="/images/dog1.png" alt="">
        <p> My French Bulldog, Lollie, loves Paws and Play and I do too. Lollie has become firm friends with her regular walker, Lucy. It’s reassuring to know that she’s with someone I trust when I can’t be around to look after her</p>
      </div>

      <div class="col-md-4 review">
        <img src="/images/boy.png" alt="">
        <p> Paws and Play is a great service for busy people. The registration and booking process is so simple. I get the chance to meet the owners first to find out all about their dogs before I walk them. I’d recommend Paws and Play to anyone who loves dogs but can’t have one of their own</p>
      </div>


  <div class="names row">
    <div class="col-md-4">
      <h4 class="person">Maria and Rodrigo S., South London</h4>
    </div>
    <div class="col-md-4">
      <h4 class="person">Katie L., Brighton</h4>
    </div>
    </div>
    <div class="col-md-4">
      <h4 class="person">John B., Birmingham</h4>
    </div>
  </div>
  </div>


  <div class="step row">
    <div class="container">
      <div class="col-md-3">
        <img src="/images/one.png" alt="">
        <h4>Create your free profile</h4>
        <p>You can easily create your own profile within 2 minutes</p>
      </div>

      <div class="col-md-3">
        <img src="/images/two.png" alt="">
        <h4>Search for friendly local dogs</h4>
        <p>With our improved search you’re able to search the closest animals to you</p>
      </div>

      <div class="col-md-3">
        <img src="/images/three.png" alt="">
        <h4>Contact the owner</h4>
        <p>Easily contact the owner of the dog to arrange too meet up</p>
      </div>

      <div class="col-md-3">
        <img src="/images/four.png" alt="">
        <h4>Meet up and share your love for dogs</h4>
        <p>Get to know each other first and then share your love for dogs</p>
      </div>
  </div>
</div>
