<div class="container">
  <div class="dogbox">

    <div class="dog">
      <div class="dog-body">
        <div class="dog-tail">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dog-torso"></div>
      <div class="dog-head">
        <div class="dog-ears">
          <div class="dog-ear"></div>
          <div class="dog-ear"></div>
        </div>
        <div class="dog-eyes">
          <div class="dog-eye"></div>
          <div class="dog-eye"></div>
        </div>
        <div class="dog-muzzle">
          <div class="dog-tongue"></div>
        </div>
      </div>
    </div>
    <div class="ball" tabindex="0"></div>
  </div>

  <h2>Testimonials</h2>
  <div class="doggo row">
    <div class="doggo col-md-4">
      <img src="/images/dog1.png" alt="">
      <h3 class="person">John Smith</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="doggo col-md-4">
      <img src="/images/family.png" alt="">
      <h3 class="person">Smith John</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="doggo col-md-4">
      <img src="/images/dog2.png" alt="">
      <h3 class="person">John Smith</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
  </div>
  <div class="step row">
      <div class="steps col-md-3">
        <img src="/images/one.png" alt="">
        <h4 class="step">Create your free profile</h4>
        <p>You can easily create your own profile within 2 minutes</p>
      </div>

      <div class="steps col-md-3">
        <img src="/images/two.png" alt="">
        <h4 class="step">Search for friendly local dogs</h4>
        <p>With our improved search you’re able to search the closest animals to you</p>
      </div>

      <div class="steps col-md-3">
        <img src="/images/three.png" alt="">
        <h4 class="step">Contact the owner</h4>
        <p>Easily contact the owner of the dog to arrange too meet up</p>
      </div>
      
      <div class="steps col-md-3">
        <img src="/images/four.png" alt="">
        <h4 class="step">Meet up and share your love for dogs</h4>
        <p>Get to know each other first and then share your love for dogs</p>
      </div>
  </div>
</div>
