<div class="container login addDog">
<h1>Register</h1>
<form name="vm.registerForm" ng-submit="vm.register()"  novalidate>
  <div class="form-group">
    <label for="name">Username</label><br>
    <input class="form-control" type="text" name="username" ng-model="vm.user.username" placeholder="Username" required>
  </div>

  <div class="ng-message-error" ng-messages="vm.registerForm.username.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.username.$touched)">
    <p ng-message="required">A username is required!</p>
  </div>

<div class="form-group">
  <label for="location">Location</label><br>
  <input class="form-control" type="text" name="location" ng-model="vm.user.location" placeholder="eg: W4 2W4.." required>
  </div>

  <div class="ng-message-error" ng-messages="vm.registerForm.location.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.location.$touched)">
    <p ng-message="required">A location is required!</p>
  </div>

  <div class="form-group">
    <label for="mobile">Mobile Number</label><br>
    <input class="form-control" type="text" name="mobile" ng-model="vm.user.mobile" placeholder="mobile.." required>
  </div>
  <div class="form-group">
    <label for="image">Image</label><br>

    <input class="form-control" type="text" name="image" ng-model="vm.user.image" placeholder="Image">
  </div>

  <div class="form-group">
    <label for="name">Email</label><br>
    <input class="form-control" type="email" name="email" ng-model="vm.user.email" placeholder="eg: walk@mydog.com.." required>
  </div>

  <div class="ng-message-error" ng-messages="vm.registerForm.email.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.email.$touched)">
    <p ng-message="required">An email address is required!</p>
  </div>

  <div class="form-group">
    <label for="name">Password</label><br>
    <input class="form-control"  type="password" name="password" ng-model="vm.user.password" placeholder="at least 6 characters" required ng-minlength="6">
  </div>

  <div class="ng-message-error" ng-messages="vm.registerForm.password.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.password.$touched)">
    <p ng-message="required">An password is required!</p>
    <p ng-message="minlength">Your password must be at least 6 characters</p>
  </div>

  <div class="form-group">
    <label for="name">Password Confirmation</label><br>
    <input class="form-control" type="password" name="passwordConfirmation" ng-model="vm.user.passwordConfirmation" placeholder="retype your password" required ng-pattern="vm.user.password">
  </div>

  <div class="ng-message-error" ng-messages="vm.registerForm.passwordConfirmation.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.passwordConfirmation.$touched)">
    <p ng-message="required">Please confirm your password</p>
    <p ng-message="pattern">Your passwords must match</p>
  </div>

  <input class="btn btn-primary loginButton" type="submit" value="Submit" />
</form>
</div>
