<!-- <div class="modal-header">
  <h3 class="modal-title">Add a walk!</h3>
</div>
<div class="modal-body">
  <form class="" action="" method="post">
    <div class="form-group">
      <label for="walk">Availablity</label><br>
      <input type="date" id="walk" name="date" ng-model="vm.walk.available" class="form-control" required>
    </div>
    <input  type="submit" class="btn btn-warning" ui-sref="walksNew({ id: dog._id })" value="Add Walk">
  </form></div>
<div >
  <button class="btn btn-primary" ui-sref="usersShow({ id: main.user._id})">back</button>
</div> -->
