<!DOCTYPE html>
<html ng-app="DogApp">
<head>
  <meta charset="utf-8">
  <title>Dog Walking App</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" uib-collapse="main.isNavCollapsed">
        <div class="logo">
          <a class="navbar-brand" ui-sref="home">
            <img src="images/smallpaw.png" alt="Paws Logo">
          </a>
        </div>
        <!-- <a class="navbar-brand" ui-sref="home">Paws and Play</a> -->
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a ui-sref="dogsIndex" ng-show="main.user">All Dogs</a>
          </li>
        </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ng-show="main.user">
              <p class="navbar-text">Welcome, {{ main.user.username }}</p>
            </li>
            <li ng-hide="main.user">
              <a ui-sref="register">Sign Up</a>
            </li>
            <li ng-hide="main.user">
              <a ui-sref="login">Sign In</a>
            </li>

            <li ng-show="main.user">
              <a ui-sref="dogsNew">Add a dog</a>
            </li>
            <li ng-show="main.user">
              <a ui-sref="usersShow({ id: main.user._id })">Profile</a>
            </li>
            <li ng-show="main.user">
              <a ng-click="main.logout()">Logout</a>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
  </header>
  <main ui-view>


  </main>
</body>
<footer>
    <div class="container">
      <ul class="leftfoot list-unstyled">
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
      <ul class="rightfoot list-unstyled">
        <div class="social">
        <a href="https://www.facebook.com/"><img src="images/facebook2.png" alt=""></a>
        <a href="http://instagram.com/"><img src="images/instagram2.png" alt=""></a>
        <a href="https://twitter.com/"><img src="images/twitter2.png" alt=""></a>
        <a href="https://www.youtube.com/"><img src="images/google2.png" alt=""></a>
        <a href="https://uk.pinterest.com/"><img src="images/pinterest2.png" alt=""></a>
        </div>
      </ul>
      <p>&copy; Paws &amp; Play - Site by Team </p>
    </div>
  </footer>


</html>
