.dogShowMain img {
  height: 350px;
  width: 512px;
  border-radius: 15px;
  border: 2px solid silver;
  margin-left: 40px;
}
.dogShowInfo {
  // text-align: left;
  border: 1px solid silver;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  height: 350px;
  top : -11px;

}
.dogShowDesc {
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid silver;
  border-radius: 15px;
  background-color: rgba(254, 191, 0, .5);}

  .dogAvailability {
    text-align: left;
    border: 1px solid silver;
    border-radius: 15px;
    background-color: rgba(254, 191, 0, .5);
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 103px;
  }
  .showBack {
    float:  right;
  }
  .contactOwnerButton {
    text-align: left;
    top: 62px;

  }
  .showBackButton {
    text-align: right;
    margin-right: 40px;
    margin-top: 10px;

  }
  .availabilityBlock {
    margin-top: 15px;
    margin-left: 20px;
  }

  ul {
    text-align: center;
    list-style: none;
  }
