.dogList img {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  border: 1px solid silver;
  display: block;
  margin: auto;
}

.dogHomeName {
display: block;
text-align: center;
width: 250px;
margin: auto;
background-color: #5DD39E;
border: 1px solid silver;
}
