.dogList img {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  border: 1px solid silver;
  display: block;
  margin: auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.dogHomeName {
  display: block;
  text-align: center;
  width: 250px;
  margin: auto;
  background-color: #518394;
  border: 1px solid #518394;

  &:hover {
    background-color: sliver;
  }
}
.dogHomeH2 {
  margin-left: 20px;
}
.dogHomeBreed {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid silver;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.8)
}
.dogHomeSize {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid silver;
  border-radius: 15px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8)
}
.sizeText {
  font-size: 18px;
  // padding-left: 25px;
}
.listBlock {
  border-top: 2px solid silver;
  margin-top: 20px;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


.dogHomeImage:hover  {
  opacity: 0.6;
}

.imageBox:hover .middle {
  opacity: 1;
  font-weight: bold;
  font-size: 14px;
}

.z-index {
  z-index: 99;
}
// .imageBox:hover .imageBox {
//   opacity: 0.3;
// }

// .imageBox:hover .middle {
//   opacity: 1;
// }
