.dogs {
  display: inline-block;
  p {
    font-size: 12px;
    width: 200px;
    position: absolute;
    text-align: center;
  }
}


.doggo img {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 50%;
  padding-left: 0px;
  float: left;
  clear: both;
  background-color: green;
}
