.dogs {
  display: inline-block;
  p {
    font-size: 12px;
    width: 200px;
    position: absolute;
    text-align: center;
  }
}

.doggo {
  background-color: rgba(254, 191, 0, .4);
  border-radius: 10px;
  font-size: 14px;
  img {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    padding-left: 0px;
    float: left;
    clear: both;
    background-color: green;
  }
}


.step {
  padding-top: 45px;

  img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    padding-left: 0px;
    float: left;
    clear: both;
  }
}
