.longlogo {
  width: 650px;
  height: 210px;
  padding-top: 100px;
  align-items: center;
}

.dogs {
  display: inline-block;
  p {
    font-size: 12px;
    width: 200px;
    position: absolute;
    text-align: center;
  }
}

.doggo {
  background-color: rgba(254, 191, 0, .5);
  border-radius: 10px;
  height: 100%;
  font-size: 14px;
  margin-top: 35px;
  padding-bottom: 35px;

  p {
    text-align:justify;
  }

  img {
    width: 125px;
    height: 125px;
    margin: 20px;
    border-radius: 50%;
    padding-left: 0px;
    float: left;
    clear: both;
    background-color: teal;
  }
}

.person {
  padding-top: 1px;
  text-align: center;
}
.step {
  padding-top: 35px;
  background-color: rgba(168, 193, 201, .4);
  margin-top: 40px;

  img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    padding-left: 0px;
    float: left;
    clear: both;
  }
}
