.userInfoBlock {
  // background-color: rgba(168, 193, 201, .4);
  border: 1px solid silver;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 50px;
  padding-bottom: 10px;
}

.userDogInfoBlock {
  // background-color: rgba(168, 193, 201, .4);
  border: 1px solid silver;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 60px;

}
