// Import all of your scss files here
// Import all of your scss files here
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import "dogAnimation";
@import "home";
@import "login";
@import "profiles";
@import "dogsIndex";
@import "dogShow";

html {
  height: 100%
}

body {
  background-color: #AED8E8;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 350px;
}

.navbar {
  font-size: 17px;
  color: #333;
  background-color: #5DD39E;
  border-radius: 3px;
  border: none;
}

.logo
  a {
    margin: 0;
    padding: 0;
   img {
    width: 35px;
    height: 35px;
    display: inline;
    margin-top: 10px;
    margin-left: 15px;
  }
}

.navbar-brand {
  padding: 10px 15px;
}

img {
  width: 400px;
  height: 300px;
}
.FormPage{
  text-align: center;
}
.showName {
  font-size: 50px;
}
.showBreed, .showSize {
  font-size: 30px;
}

h4{
  a {
    background-color: rgba(0,0,255,0.4);
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: none !important;
  }
  a:hover {
    color: rgba(255, 0, 0, 1);
  }
}


footer {
  font-size: 18px;
  background-color: #26657A;
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  :hover {
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #90BFCF;

  }
  ul {
    float: left;
    width: 150px;
  }
  p{
    float: right;
    line-height: 70px;
    color: #90BFCF;
  }
}


.social {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  img {
      width: 25px;
      height: 25px;
      margin-right: 13px;
      filter: invert(100%);

  }
}
