// Import all of your scss files here
// Import all of your scss files here
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import "dogAnimation";
@import "home";
@import "login";
@import "profiles";
@import "dogsIndex";


body {
  background-color: #7DB4C7;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: #5DD39E;
  border-radius: 3px;
  border: none;
}

.logo
  a {
    margin: 0;
    padding: 0;
   img {
    width: 145px;
    height: 45px;
    display: inline;
    margin-top: 5px;
  }
}

.navbar-brand {
  padding: 10px, 15px;
}

img {
  width: 400px;
  height: 300px;
}
.FormPage{
text-align: center;
}
.showName {
  font-size: 50px;
}
.showBreed, .showSize {
  font-size: 30px;
}

h4{
  a {
    background-color: rgba(0,0,255,0.4);
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: none !important;
  }
  a:hover {
    color: rgba(255, 0, 0, 1);
  }
}


.banner img {
  width: 80%;
  height: 500px;
  margin: 50px;
}
