.userShowMain img {
  height: 350px;
  width: 350px;
  border-radius: 15px;
  border: 2px solid silver;
}

.userShowInfo {
  text-align: left;
}

.userUpdateButtons {
  text-align: left;
}

.userInfoBlock {
  margin-top: 60px;
}
