.ownerPicture {
  height: 350px;
  width: 350px;
  border-radius: 15px;
  border: 2px solid silver;
  box-shadow: 2px 2px 5px #888888;

}

.userShowInfo {
  text-align: left;
}

.userUpdateButtons {
  text-align: left;
}

.userInfoBlock {
  margin-top: 60px;
  height:350px;
  top:10px;
}

.dogPicture {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  border: 2px solid silver;
}
