<div class="modal-header">
  <h3 class="modal-title">Make a walk request for {{ vm.dog.name }}</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="walks">Available dates</label><br>
    <select id="size"  name="walks">
      <option ng-repeat="walk in vm.dog.walks" value="walk">{{ walk.date | date : format : mediumDate }}
      </option>
    </select>
    <button type="submit" name="walks" value="Submit request">request this date</button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.close()">Cancel</button>
</div>
