<div class="showPage">
  <form ng-submit="vm.update()">
  <div class="form-group">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" ng-model="vm.dog.name">
  </div>
  <div class="form-group">
    <label for="breed">Breed</label><br>
    <input type="text" id="breed" name="breed" ng-model="vm.dog.breed">
  </div>
  <div class="form-group">
    <label for="size">Size</label><br>
    <input type="text" id="size" name="size" ng-model="vm.dog.size">
  </div>
  <div class="form-group">
    <label for="image">Image</label><br>
    <input type="text" id="image" name="image" ng-model="vm.dog.image">
  </div>
  <button type="button" name="back" class="btn btn-info" ui-sref="dogsShow({ id: vm.dog._id})">Back</button>

  <input type="submit" class="btn btn-warning" value="Save">
</form>
</div>
