<div class="container">
<h2>dogs near you</h2>
  <div class="dogList">
    <div class="row">
        <div ng-repeat="dog in vm.dogs" index="$index">
          <div class="col-md-4 col-s-6">
          <img class="dogHomeImage" ng-src="{{dog.image}}" ui-sref="dogsShow({ id: dog._id })">
          <h4><a class="dogHomeName" ui-sref="dogsShow({ id: dog._id })">{{ dog.name }}</a></h4>
          <p class="dogHomeDescription"> {{ dog.description }} </p>

        </div>
      </div>
    </div>
  </div>
</div>
