<div class="container login">
  <h1>Add a new dog</h1>
    <form ng-submit="vm.create()">
      <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" ng-model="vm.dog.name" class="form-control">
      </div>
      <div class="form-group">
        <label for="breed">Breed</label><br>
        <input type="text" id="breed" name="breed" ng-model="vm.dog.breed" class="form-control" >
      </div>
      <div class="form-group">
        <label for="size">Size</label><br>
        <input type="text" id="size" name="size" ng-model="vm.dog.size" class="form-control">
      </div>
      <div class="form-group">
        <label for="image">Image</label><br>
        <input type="text" id="image" name="image" ng-model="vm.dog.image" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label><br>
        <textarea type="text" id="description" name="description" ng-model="vm.dog.description" class="form-control"></textarea>
      </div>
      <input type="submit" class="btn btn-warning" value="Add" >
    </form>
  </div>

  <!-- <div class="form-group">
    <label for="breed">Breed</label><br>
    <input type="text" id="breed" name="breed" ng-model="vm.dog.breed">
  </div>
  <div class="form-group">
    <label for="size">Size</label><br>
    <input type="text" id="size" name="size" ng-model="vm.dog.size">
  </div>
  <div class="form-group">
    <label for="image">Image</label><br>
    <input type="text" id="image" name="image" ng-model="vm.dog.image">
  </div> -->
  <!-- <button type="button" name="back" class="btn btn-info" ui-sref="dogsIndex">Back</button>

  <input type="submit" class="btn btn-warning" value="Add">
</form>
</div> -->
